ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 215px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.table-l{
    position: fixed;
    top: 50vh;
    left: 19vw;
    width: 78vw;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
        padding-left: 10px;
    }

    td {
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;
        padding-left: 10px;

        .button-e {
            padding: 5px;
            border-radius: 2px;
            background-color: #BE8A3B;

            font-size: 1.2vw;
            color: white;
            font-weight: 600;
            text-decoration: none;
        }

        .button-n {
            padding: 5px;
            border-radius: 2px;
            background-color: #328424;

            font-size: 1.2vw;
            color: white;
            font-weight: 600;
            text-decoration: none;
        }
    }

    tr {
        height: 5vh;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}

:root {
    --button-background: white;
    --button-color: #123C5A;

    --dropdown-highlight: #63B2EB;
    --dropdown-width: 160px;
    --dropdown-background: #8CBFE4;
    --dropdown-color: #123C5A;
}

a.button, a.button1-t, a.button2-t, a.button3 {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #123C5A;
    border-radius: 5px;
    box-sizing: border-box;

    background: var(--button-background);
    color: var(--button-color);
    font-size: 20px;
    cursor: pointer;
}

a.button1-t {
    position: fixed;
    top: 40vh;
    left: 19vw;
}

a.button2-t {
    position: fixed;
    top: 40vh;
    left: 40vw;
}

/* Dropdown styles */

.dropdown1-t {
    position: fixed;
    top: 45vh;
    left: 26vw;
    padding: 0;
    margin-right: 1em;

    border: 2px solid #123C5A;
}

.dropdown2-t {
    position: fixed;
    top: 45vh;
    left: 44vw;
    padding: 0;
    margin-right: 1em;

    border: 2px solid #123C5A;
}


.dropdown1-t summary, .dropdown2-t summary {
    list-style: none none;
}

.dropdown1-t > summary::-webkit-details-marker, .dropdown2-t > summary::-webkit-details-marker {
    display: none;
}

.dropdown1-t summary:focus, .dropdown2-t summary:focus {
    outline: none;
}

.dropdown1-t ul, .dropdown2-t ul {
    position: absolute;
    padding: 20px 0;
    width: var(--dropdown-width);
    left: 50%;
    margin: 20px 0 0 calc((var(--dropdown-width) / 2) * -1);
    box-sizing: border-box;
    z-index: 2;

    background: var(--dropdown-background);
    border-radius: 6px;
    list-style: none;
}

.dropdown1-t ul li, .dropdown2-t ul li {
    padding: 0;
    margin: 0;
}

.dropdown1-t ul li a:link, .dropdown1-t ul li a:visited, .dropdown2-t ul li a:link, .dropdown2-t ul li a:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;

    color: var(--dropdown-color);
    text-decoration: none;
}
.dropdown1-t ul li a:hover, .dropdown2-t ul li a:hover {
    background-color: var(--dropdown-highlight);
    color: white;
}

/* Dropdown triangle */
.dropdown1-t ul::before, .dropdown2-t ul::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.dropdown1-t > summary::before, .dropdown2-t > summary::before {
    display: none;
}

.dropdown1-t[open] > summary::before, .dropdown2-t[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
