ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 215px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.les-title {
    position: fixed;
    top: 270px;
    left: 290px;
    font-size: 1.5vw;
    color: #01447e;
    font-weight: bold;

}

.table-s{
    position: fixed;
    top: 330px;
    left: 290px;
    width: 78vw;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
        padding-left: 10px;
    }

    td {
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;
        padding-left: 10px;
    }

    tr {
        height: 5vh;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}

.teach-buttons {
    .mult, .save, .new, .sub {
        position: fixed;
        top: 260px;
        right: 50px;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #69C05B;
        display: inline-block;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mult {
        right: 110px;
    }

    .save {
        right: 390px;
        background: #95A5A6;
    }

    .sub {
        top: 500px;
        right: 50px;
        background: #328424;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-s, .popup-sv {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup-s .content, .popup-sv .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.buttons1 {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
    .buttons-c1 {
        letter-spacing: 0.03em;

    }

    .confirm {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel-g {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}

.popup-m, .popup-o {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup-m .content, .popup-o .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.buttons1 {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
    .buttons-c1 {
        letter-spacing: 0.03em;

    }

    .confirm {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel-g {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}

input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    /*background-image: url('searchicon.png');*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown-st {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

