ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 215px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.les-title-b1 {
    position: fixed;
    top: 42vh;
    left: 19vw;
    font-size: 1.5vw;
    color: #01447e;
    font-weight: bold;

}

.text-b1 {
    position: fixed;
    top: 47vh;
    left: 19vw;
    font-size: 1.5vw;
    color: black;
    font-weight: normal;
}

.final-buttons {
    .canc, .ret, .new-g {
        position: fixed;
        top: 52vh;
        left: 19vw;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .ret {
        left: 420px;
        background: #69C05B;
    }

    .new-g {
        left: 690px;
        background: #328424;
    }
}