ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

a.cert-button {
    position: fixed;
    top: 215px;
    right: 50px;
    display: inline-block;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    background: #205982;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

p.title1 {
    position: fixed;
    top: 260px;
    left: 290px;

    font-weight: bold;
    font-size: 20px;
    color: #123C5A;
}

.Study-info{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 300px;
    left: 290px;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

p.title2 {
    position: fixed;
    top: 520px;
    left: 290px;

    font-weight: bold;
    font-size: 20px;
    color: #123C5A;
}

.pers-info{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 550px;
    left: 290px;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

p.title3 {
    position: fixed;
    top: 780px;
    left: 290px;

    font-weight: bold;
    font-size: 20px;
    color: #123C5A;
}

.com-info{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 810px;
    left: 290px;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.prof-info {
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
    color: #01447e;

    padding: 10px;
}