ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.progress-bar {
    position: fixed;
    top: 250px;
    right: 125px;
    width: 1000px;

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        font-size: 14px;
        letter-spacing: 0.03em;
    }

    .step1 {
        flex-basis: 25%;
    }
    .step2 {
        flex-basis: 25%;
    }
    .step3 {
        flex-basis: 25%;
    }
    .step4 {
        flex-basis: 25%;
    }
}

.progress-bar4 {
    position: fixed;
    top: 240px;
    right: 125px;
    width: 1000px;

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .table-header {
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    .step1 {
        flex-basis: 25%;
        background-color: #96EA89;
        color: #96EA89;
    }
    .step2 {
        flex-basis: 25%;
        background-color: #96EA89;
        color: #96EA89;
    }
    .step3 {
        flex-basis: 25%;
        background-color: #96EA89;
        color: #96EA89;
    }
    .step4 {
        flex-basis: 25%;
        background-color: #6C6C6C;
        color: #6C6C6C;
    }
}

.text {
    position: fixed;
    top: 320px;
    left: 370px;
    color: #262323;
    font-size: medium;
    font-weight: bold;
}

.buttons1_4 {
    position: fixed;
    bottom: 50px;
    right: 125px;
    width: 1000px;

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .buttons-c {
        letter-spacing: 0.03em;

    }

    .prev, .next {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #69C05B;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .edit {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.buttons1 {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
    .buttons-c1 {
        letter-spacing: 0.03em;

    }

    .confirm {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel-p {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}


.pers-info-certs3{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 380px;
    left: 30vw;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 600px;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.pers-info-logged-certs3{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 380px;
    left: 30vw;

    padding: 10px 100px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    /*width: 31%;*/

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.prof-info-certs3 {
    font-size: 1vw;
    text-decoration: none;
    font-weight: normal;
    color: #01447e;
    padding: 10px;
}