/* App.css or your preferred stylesheet */

/*body {*/
/*    margin: 0;*/
/*    font-family: 'Arial', sans-serif; !* Adjust the font family as needed *!*/
/*}*/

.container_two {
    background-color: #ccc; /* Gray background color for the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding to create space between the header and container */
    text-align: center; /* Center-align the text within the container */
    margin-top: 10vh;
}

.container_two_alt {
    background-color: #ccc; /* Gray background color for the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding to create space between the header and container */
    text-align: center; /* Center-align the text within the container */
    margin-top: 2vh;
}

.header {
    color: #000; /* Black text color for the header */
    padding: 10px; /* Padding to create space inside the header */
    border-radius: 5px; /* Optional: Add rounded corners to the header */
    display: inline-block; /* Make the header an inline block to center it */
    margin-left: 40%;
}

.container_images{
    width: 30vw;
    height: 40vh;
}

.button-round {
    background-color: #005D3C; /* Green background color */
    color: white; /* White text color */
    padding: 0.2vw 0.2vw; /* Add padding to the button */
    font-size: 4rem; /* Set the font size */
    border: none; /* Remove default border */
    border-radius: 10rem; /* Optional: Add border-radius for rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0px;
    margin-left: 2px;
}

.button-round:hover {
    background-color: #003A1A; /* Darker green on hover */
}

.toolTip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003A1A;
    color: white;
    max-width: 20vw; /* Set the maximum width of the container */
    max-height: 10vh; /* Set the maximum height of the container */
    margin: 1vh auto 0; /* Add margin to the top (50px in this example), and center horizontally */
    padding: 1vh; /* Add some padding for better visual appearance */
    border-radius: 15px; /* Add rounded corners with a radius of 15 pixels */
}