ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 220px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

p.title2-teach {
    position: fixed;
    top: 37vh;
    left: 20vw;

    font-weight: bold;
    font-size: 20px;
    color: #123C5A;
}

.pers-info-teach{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 41vh;
    left: 20vw;
    width: 35%;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.pers-info-logged-teach{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 41vh;
    left: 20vw;
    width: 35%;

    padding: 10px 100px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

p.title3-teach {
    position: fixed;
    top: 37vh;
    left: 57vw;

    font-weight: bold;
    font-size: 20px;
    color: #123C5A;
}

.com-info-teach{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 41vh;
    left: 57vw;
    width: 40%;

    padding: 10px 300px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.com-info-logged-teach{
    display: flex;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 41vh;
    left: 57vw;
    width: 40%;

    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    background-color: #D9D9D9;

    .info {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        list-style: none;
    }
}

.prof-info-teach {
    font-size: 1vw;
    text-decoration: none;
    font-weight: normal;
    color: #01447e;
    padding: 10px;
}

.prof-info-logged-teach {
    font-size: 1vw;
    /*font-size: 20px;*/
    text-decoration: none;
    font-weight: normal;
    color: #01447e;
    padding: 10px;
}

.profile-card-teach {
    position: sticky;
    background-color: #95A5A6;
}