ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.table-gr{
    position: fixed;
    top: 350px;
    left: 290px;
    width: 83vw;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
        padding-left: 10px;
    }

    td {
        font-size: 1.2vw;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;
        padding-left: 10px;
    }

    tr {
        height: 5vh;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}


.print_button {
    position: fixed;
    top: 260px;
    right: 50px;
    display: inline-block;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

    background: #1C5413;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.passed_grade {
    text-align: center;
    color: green;
    font-size: 1vw;
}

.failed_grade {
    text-align: center;
    color: red;
    font-size: 1vw;
}