ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.lessons{
    position: fixed;
    top: 55vh;
    left: 22%;
    width: 43%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
    }

    td {
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;
    }

    tr {
        height: 40px;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}
