ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.warning {
    font-size: 30px;
    color: #6A0000;
    font-weight: 600;
    position: fixed;
    top: 230px;
    left: 290px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table-dhl{
    position: fixed;
    top: 52vh;
    left: 22%;
    width: 70%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
    }

    td {
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;

        .checkboxes {
            display: flex;
            align-items: center;
        }

        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.65rem;
        }
    }

    tr {
        height: 40px;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}


.cancel, .temp, .submit {
    position: fixed;
    bottom: 6vh;
    left: 84vw;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #69C05B;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.submit-disabled {
    position: fixed;
    bottom: 8vh;
    left: 84vw;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: rgb(128, 128, 128);
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.temp {
    left: 66vw;
    background: #95A5A6;
}

.cancel {
    left: 60vw;
    background: #95A5A6;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup-fs, .popup-sd {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup-fs .content, .popup-sd .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.buttons1 {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
    .buttons-c1 {
        letter-spacing: 0.03em;

    }

    .confirm {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel-p {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}
