ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.text-d {
    position: fixed;
    top: 320px;
    left: 370px;
    color: #262323;
    font-size: medium;
    font-weight: bold;
}

.buttons2-d {
    .home, .last-form {
        position: fixed;
        top: 370px;
        left: 740px;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .home {
        position: fixed;
        top: 370px;
        left: 480px;

        background: #95A5A6;
    }

    .undo {
        position: fixed;
        top: 370px;
        left: 360px;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 25%;
}

.popup .content {
    font-size: 20px;
    font-weight: bold;
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.buttons1 {

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
    }
    .buttons-c1 {
        letter-spacing: 0.03em;

    }

    .confirm {
        flex-basis: 20%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #328424;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .cancel-p {
        flex-basis: 10%;

        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background: #95A5A6;
        display: inline-block;
        text-align: center;
        padding: 5px;
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

}