ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    position: fixed;
    top: 200px;
    left: 280px;

    li {
        display: inline;
        font-size: 18px;
    }

    li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    li a {
        color: #0275d8;
        text-decoration: none;
    }

    ul.breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline;
    }
}

.table-dhl{
    position: fixed;
    top: 55vh;
    left: 22%;
    width: 70%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 600;
        background-color: #A2D2F5;
    }

    td {
        font-size: 15px;
        text-decoration-color: black;
        font-weight: 400;
        border: 3px solid #A2D2F5;

        .checkboxes {
            display: flex;
            align-items: center;
        }

        input[type="checkbox"] {
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.65rem;
        }
    }

    tr {
        height: 40px;
    }
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr:hover {background-color: #8CBFE4;}

.new, .saved, .final {
    position: fixed;
    top: 32vh;
    left: 90vw;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #69C05B;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.saved {
    left: 71vw;
    background: #95A5A6;
}

.final {
    left: 50vw;
    background: #95A5A6;
}